# IntelliJ
.idea/
*.iml

# H2 Database
*.mv.db
*.trace.db

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Maven build folders
target/
*/target/

# Java compiled files
*.class

# VS Code
.vscode/

# Build output
out/

# Archives
*.zip